<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="robots" content="index, follow, all" />
    <title>Windwalker\Core\View\Traits\LayoutRenderableTrait | Windwalker Core API</title>

            <link rel="stylesheet" type="text/css" href="../../../../css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="../../../../css/bootstrap-theme.min.css">
        <link rel="stylesheet" type="text/css" href="../../../../css/sami.css">
        <script src="../../../../js/jquery-1.11.1.min.js"></script>
        <script src="../../../../js/bootstrap.min.js"></script>
        <script src="../../../../js/typeahead.min.js"></script>
        <script src="../../../../sami.js"></script>
        <meta name="MobileOptimized" content="width">
        <meta name="HandheldFriendly" content="true">
        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    
    
    </head>

    <body id="class" data-name="class:Windwalker_Core_View_Traits_LayoutRenderableTrait" data-root-path="../../../../">
            <div id="content">
        <div id="left-column">
                <div id="control-panel">
                <form id="search-form" action="../../../../search.html" method="GET">
            <span class="glyphicon glyphicon-search"></span>
            <input name="search"
                   class="typeahead form-control"
                   type="search"
                   placeholder="Search">
        </form>
    </div>

                <div id="api-tree"></div>

        </div>
        <div id="right-column">
                <nav id="site-nav" class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-elements">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="../../../../index.html">Windwalker Core API</a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-elements">
                <ul class="nav navbar-nav">
                    <li><a href="../../../../classes.html">Classes</a></li>
                                            <li><a href="../../../../namespaces.html">Namespaces</a></li>
                                        <li><a href="../../../../interfaces.html">Interfaces</a></li>
                    <li><a href="../../../../traits.html">Traits</a></li>
                    <li><a href="../../../../doc-index.html">Index</a></li>
                    <li><a href="../../../../search.html">Search</a></li>
                </ul>
            </div>
        </div>
    </nav>

                        <div class="namespace-breadcrumbs">
            <ol class="breadcrumb">
                <li><span class="label label-default">trait</span></li>
                                                            <li><a href="../../../../Windwalker.html">Windwalker</a></li>
                                        <li><a href="../../../../Windwalker/Core.html">Core</a></li>
                                        <li><a href="../../../../Windwalker/Core/View.html">View</a></li>
                                        <li><a href="../../../../Windwalker/Core/View/Traits.html">Traits</a></li>
    
                <li>LayoutRenderableTrait</li>
            </ol>
        </div>
                <div id="page-content">
                
    <div class="page-header">
        <h1>
            LayoutRenderableTrait
                
        </h1>
    </div>

    <p>    trait
    <strong>LayoutRenderableTrait</strong>        (<a href="https://github.com/ventoviro/windwalker-core/blob/master/src/Core/View/Traits/LayoutRenderableTrait.php">View source</a>)
</p>

        
    

            <div class="description">
            <p>LayoutRenderableTrait</p>                    </div>
    
    
    
    
            <h2>Methods</h2>

            <div class="container-fluid underlined">
                    <div class="row">
                <div class="col-md-2 type">
                    string
                </div>
                <div class="col-md-8 type">
                    <a href="#method_getLayout">getLayout</a>()
        
                                            <p>Method to get property Layout</p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    <a href="../../../../Windwalker/Core/View/Traits/LayoutRenderableTrait.html"><abbr title="Windwalker\Core\View\Traits\LayoutRenderableTrait">LayoutRenderableTrait</abbr></a>
                </div>
                <div class="col-md-8 type">
                    <a href="#method_setLayout">setLayout</a>(string $layout)
        
                                            <p>Method to set property layout</p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    <abbr title="Windwalker\Renderer\AbstractRenderer">AbstractRenderer</abbr>
                </div>
                <div class="col-md-8 type">
                    <a href="#method_getRenderer">getRenderer</a>()
        
                                            <p>Method to get property Renderer</p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    <a href="../../../../Windwalker/Core/View/Traits/LayoutRenderableTrait.html"><abbr title="Windwalker\Core\View\Traits\LayoutRenderableTrait">LayoutRenderableTrait</abbr></a>
                </div>
                <div class="col-md-8 type">
                    <a href="#method_setRenderer">setRenderer</a>(<abbr title="Windwalker\Renderer\AbstractRenderer">AbstractRenderer</abbr>|string $renderer)
        
                                            <p>Method to set property renderer</p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    <a href="../../../../Windwalker/Core/View/Traits/LayoutRenderableTrait.html"><abbr title="Windwalker\Core\View\Traits\LayoutRenderableTrait">LayoutRenderableTrait</abbr></a>
                </div>
                <div class="col-md-8 type">
                    <a href="#method_registerPaths">registerPaths</a>(bool $refresh = false)
        
                                            <p>registerPaths</p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    <a href="../../../../Windwalker/Core/View/Traits/LayoutRenderableTrait.html"><abbr title="Windwalker\Core\View\Traits\LayoutRenderableTrait">LayoutRenderableTrait</abbr></a>
                </div>
                <div class="col-md-8 type">
                    <a href="#method_registerMultilingualPaths">registerMultilingualPaths</a>(bool $refresh = false)
        
                                            <p>registerMultilingualPaths</p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    array
                </div>
                <div class="col-md-8 type">
                    <a href="#method_dumpPaths">dumpPaths</a>(bool $multilingual = false)
        
                                            <p>dumpPaths</p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    <a href="../../../../Windwalker/Core/View/Traits/LayoutRenderableTrait.html"><abbr title="Windwalker\Core\View\Traits\LayoutRenderableTrait">LayoutRenderableTrait</abbr></a>
                </div>
                <div class="col-md-8 type">
                    <a href="#method_addPath">addPath</a>(string $path, int $priority = 100)
        
                                            <p>addPath</p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    <a href="../../../../Windwalker/Core/View/Traits/LayoutRenderableTrait.html"><abbr title="Windwalker\Core\View\Traits\LayoutRenderableTrait">LayoutRenderableTrait</abbr></a>
                </div>
                <div class="col-md-8 type">
                    <a href="#method_addPaths">addPaths</a>(array $paths, int $priority = PriorityQueue::ABOVE_NORMAL)
        
                                            <p>addPaths</p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    <a href="../../../../Windwalker/Core/Renderer/RendererManager.html"><abbr title="Windwalker\Core\Renderer\RendererManager">RendererManager</abbr></a>
                </div>
                <div class="col-md-8 type">
                    <a href="#method_getRendererManager">getRendererManager</a>()
        
                                            <p>Method to get property RendererManager</p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    <a href="../../../../Windwalker/Core/View/Traits/LayoutRenderableTrait.html"><abbr title="Windwalker\Core\View\Traits\LayoutRenderableTrait">LayoutRenderableTrait</abbr></a>
                </div>
                <div class="col-md-8 type">
                    <a href="#method_setRendererManager">setRendererManager</a>(<a href="../../../../Windwalker/Core/Renderer/RendererManager.html"><abbr title="Windwalker\Core\Renderer\RendererManager">RendererManager</abbr></a> $rendererManager)
        
                                            <p>Method to set property rendererManager</p>                </div>
                <div class="col-md-2"></div>
            </div>
            </div>


        <h2>Details</h2>

            <div id="method-details">
                    <div class="method-item">
                    <h3 id="method_getLayout">
        <div class="location">at line         <a href="https://github.com/ventoviro/windwalker-core/blob/master/src/Core/View/Traits/LayoutRenderableTrait.php#L51">line 51</a></div>
        <code>                    string
    <strong>getLayout</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                    <div class="method-description">
                                    <p>Method to get property Layout</p>                                </div>
                <div class="tags">
            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>string</td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_setLayout">
        <div class="location">at line         <a href="https://github.com/ventoviro/windwalker-core/blob/master/src/Core/View/Traits/LayoutRenderableTrait.php#L63">line 63</a></div>
        <code>                    <a href="../../../../Windwalker/Core/View/Traits/LayoutRenderableTrait.html"><abbr title="Windwalker\Core\View\Traits\LayoutRenderableTrait">LayoutRenderableTrait</abbr></a>
    <strong>setLayout</strong>(string $layout)
        </code>
    </h3>
    <div class="details">
            
    

                    <div class="method-description">
                                    <p>Method to set property layout</p>                                </div>
                <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>string</td>
                <td>$layout</td>
                <td></td>
            </tr>
            </table>

            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td><a href="../../../../Windwalker/Core/View/Traits/LayoutRenderableTrait.html"><abbr title="Windwalker\Core\View\Traits\LayoutRenderableTrait">LayoutRenderableTrait</abbr></a></td>
            <td>Return self to support chaining.</td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_getRenderer">
        <div class="location">at line         <a href="https://github.com/ventoviro/windwalker-core/blob/master/src/Core/View/Traits/LayoutRenderableTrait.php#L75">line 75</a></div>
        <code>                    <abbr title="Windwalker\Renderer\AbstractRenderer">AbstractRenderer</abbr>
    <strong>getRenderer</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                    <div class="method-description">
                                    <p>Method to get property Renderer</p>                                </div>
                <div class="tags">
            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td><abbr title="Windwalker\Renderer\AbstractRenderer">AbstractRenderer</abbr></td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_setRenderer">
        <div class="location">at line         <a href="https://github.com/ventoviro/windwalker-core/blob/master/src/Core/View/Traits/LayoutRenderableTrait.php#L89">line 89</a></div>
        <code>                    <a href="../../../../Windwalker/Core/View/Traits/LayoutRenderableTrait.html"><abbr title="Windwalker\Core\View\Traits\LayoutRenderableTrait">LayoutRenderableTrait</abbr></a>
    <strong>setRenderer</strong>(<abbr title="Windwalker\Renderer\AbstractRenderer">AbstractRenderer</abbr>|string $renderer)
        </code>
    </h3>
    <div class="details">
            
    

                    <div class="method-description">
                                    <p>Method to set property renderer</p>                                </div>
                <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td><abbr title="Windwalker\Renderer\AbstractRenderer">AbstractRenderer</abbr>|string</td>
                <td>$renderer</td>
                <td></td>
            </tr>
            </table>

            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td><a href="../../../../Windwalker/Core/View/Traits/LayoutRenderableTrait.html"><abbr title="Windwalker\Core\View\Traits\LayoutRenderableTrait">LayoutRenderableTrait</abbr></a></td>
            <td>Return self to support chaining.</td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_registerPaths">
        <div class="location">at line         <a href="https://github.com/ventoviro/windwalker-core/blob/master/src/Core/View/Traits/LayoutRenderableTrait.php#L103">line 103</a></div>
        <code>                    <a href="../../../../Windwalker/Core/View/Traits/LayoutRenderableTrait.html"><abbr title="Windwalker\Core\View\Traits\LayoutRenderableTrait">LayoutRenderableTrait</abbr></a>
    <strong>registerPaths</strong>(bool $refresh = false)
        </code>
    </h3>
    <div class="details">
            
    

                    <div class="method-description">
                                    <p>registerPaths</p>                                </div>
                <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>bool</td>
                <td>$refresh</td>
                <td></td>
            </tr>
            </table>

            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td><a href="../../../../Windwalker/Core/View/Traits/LayoutRenderableTrait.html"><abbr title="Windwalker\Core\View\Traits\LayoutRenderableTrait">LayoutRenderableTrait</abbr></a></td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_registerMultilingualPaths">
        <div class="location">at line         <a href="https://github.com/ventoviro/windwalker-core/blob/master/src/Core/View/Traits/LayoutRenderableTrait.php#L157">line 157</a></div>
        <code>                    <a href="../../../../Windwalker/Core/View/Traits/LayoutRenderableTrait.html"><abbr title="Windwalker\Core\View\Traits\LayoutRenderableTrait">LayoutRenderableTrait</abbr></a>
    <strong>registerMultilingualPaths</strong>(bool $refresh = false)
        </code>
    </h3>
    <div class="details">
            
    

                    <div class="method-description">
                                    <p>registerMultilingualPaths</p>                                </div>
                <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>bool</td>
                <td>$refresh</td>
                <td></td>
            </tr>
            </table>

            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td><a href="../../../../Windwalker/Core/View/Traits/LayoutRenderableTrait.html"><abbr title="Windwalker\Core\View\Traits\LayoutRenderableTrait">LayoutRenderableTrait</abbr></a></td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_dumpPaths">
        <div class="location">at line         <a href="https://github.com/ventoviro/windwalker-core/blob/master/src/Core/View/Traits/LayoutRenderableTrait.php#L188">line 188</a></div>
        <code>                    array
    <strong>dumpPaths</strong>(bool $multilingual = false)
        </code>
    </h3>
    <div class="details">
            
    

                    <div class="method-description">
                                    <p>dumpPaths</p>                                </div>
                <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>bool</td>
                <td>$multilingual</td>
                <td></td>
            </tr>
            </table>

            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>array</td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_addPath">
        <div class="location">at line         <a href="https://github.com/ventoviro/windwalker-core/blob/master/src/Core/View/Traits/LayoutRenderableTrait.php#L208">line 208</a></div>
        <code>                    <a href="../../../../Windwalker/Core/View/Traits/LayoutRenderableTrait.html"><abbr title="Windwalker\Core\View\Traits\LayoutRenderableTrait">LayoutRenderableTrait</abbr></a>
    <strong>addPath</strong>(string $path, int $priority = 100)
        </code>
    </h3>
    <div class="details">
            
    

                    <div class="method-description">
                                    <p>addPath</p>                                </div>
                <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>string</td>
                <td>$path</td>
                <td></td>
            </tr>
                    <tr>
                <td>int</td>
                <td>$priority</td>
                <td></td>
            </tr>
            </table>

            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td><a href="../../../../Windwalker/Core/View/Traits/LayoutRenderableTrait.html"><abbr title="Windwalker\Core\View\Traits\LayoutRenderableTrait">LayoutRenderableTrait</abbr></a></td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_addPaths">
        <div class="location">at line         <a href="https://github.com/ventoviro/windwalker-core/blob/master/src/Core/View/Traits/LayoutRenderableTrait.php#L228">line 228</a></div>
        <code>                    <a href="../../../../Windwalker/Core/View/Traits/LayoutRenderableTrait.html"><abbr title="Windwalker\Core\View\Traits\LayoutRenderableTrait">LayoutRenderableTrait</abbr></a>
    <strong>addPaths</strong>(array $paths, int $priority = PriorityQueue::ABOVE_NORMAL)
        </code>
    </h3>
    <div class="details">
            
    

                    <div class="method-description">
                                    <p>addPaths</p>                                </div>
                <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>array</td>
                <td>$paths</td>
                <td></td>
            </tr>
                    <tr>
                <td>int</td>
                <td>$priority</td>
                <td></td>
            </tr>
            </table>

            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td><a href="../../../../Windwalker/Core/View/Traits/LayoutRenderableTrait.html"><abbr title="Windwalker\Core\View\Traits\LayoutRenderableTrait">LayoutRenderableTrait</abbr></a></td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_getRendererManager">
        <div class="location">at line         <a href="https://github.com/ventoviro/windwalker-core/blob/master/src/Core/View/Traits/LayoutRenderableTrait.php#L243">line 243</a></div>
        <code>                    <a href="../../../../Windwalker/Core/Renderer/RendererManager.html"><abbr title="Windwalker\Core\Renderer\RendererManager">RendererManager</abbr></a>
    <strong>getRendererManager</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                    <div class="method-description">
                                    <p>Method to get property RendererManager</p>                                </div>
                <div class="tags">
            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td><a href="../../../../Windwalker/Core/Renderer/RendererManager.html"><abbr title="Windwalker\Core\Renderer\RendererManager">RendererManager</abbr></a></td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_setRendererManager">
        <div class="location">at line         <a href="https://github.com/ventoviro/windwalker-core/blob/master/src/Core/View/Traits/LayoutRenderableTrait.php#L260">line 260</a></div>
        <code>                    <a href="../../../../Windwalker/Core/View/Traits/LayoutRenderableTrait.html"><abbr title="Windwalker\Core\View\Traits\LayoutRenderableTrait">LayoutRenderableTrait</abbr></a>
    <strong>setRendererManager</strong>(<a href="../../../../Windwalker/Core/Renderer/RendererManager.html"><abbr title="Windwalker\Core\Renderer\RendererManager">RendererManager</abbr></a> $rendererManager)
        </code>
    </h3>
    <div class="details">
            
    

                    <div class="method-description">
                                    <p>Method to set property rendererManager</p>                                </div>
                <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td><a href="../../../../Windwalker/Core/Renderer/RendererManager.html"><abbr title="Windwalker\Core\Renderer\RendererManager">RendererManager</abbr></a></td>
                <td>$rendererManager</td>
                <td></td>
            </tr>
            </table>

            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td><a href="../../../../Windwalker/Core/View/Traits/LayoutRenderableTrait.html"><abbr title="Windwalker\Core\View\Traits\LayoutRenderableTrait">LayoutRenderableTrait</abbr></a></td>
            <td>Return self to support chaining.</td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
            </div>

    
            </div>
                <div id="footer">
        Generated by <a href="http://sami.sensiolabs.org/">Sami, the API Documentation Generator</a>.
    </div>

        </div>
    </div>
    </body>

</html>
